/********************************************************
	CSS GENERAL
*********************************************************/
body {
	width: 70%;
	margin: auto;
}

/********************************************************
	CSS HEADER
*********************************************************/
#logo_bagcrush {
	float: left;
}

#header_droit {
	float: right;
	width: 33%;
	position: relative;
	top: 20px;
}

@media (min-width: 1325px) {
	#header_droit {
		float: right;
		width: 28em;
		position: relative;
		top: 20px;
	}
}

#header_droit .icon_sound {
	float: left;
	cursor: pointer;
}

#header_droit .item {
    float: left;
    margin-left: 10px;
    color: rgb(122, 122, 122);
    background-color: rgb(248, 248, 248);
    padding: 5px;
	position: relative;
    top: -5px;
    font-size: 13px;
	font-weight: bold;
	cursor: pointer;
}

#header_recherche {
	border: none;
}

.icon_search {
	float: left;
    cursor: pointer;
    position: relative;
    top: -5px;
	padding: 5px;
    background-color: rgb(248, 248, 248);
}

#header_menu {
	height: 30px;
    clear: both;
    position: relative;
    top: -20px;
	font-weight: bold;
	margin-left: 5%;
    width: 95%;
}

#header_menu .menu_item {
	display: inline;
    width: 15%;
    margin-right: 5%;
    float: left;
	text-decoration: none;
    color: black;
    font-size: 14px;
}

.count_crush {
	color: rgb(210, 31, 90);
}

#bandeau_noir_header {
	color: white;
    background-color: black;
    text-align: center;
	top: -20px;
    position: relative;
}

/********************************************************
	CSS FOOTER
*********************************************************/

footer {
	background-color: black;
	padding: 10px;
	float: left;
    width: 100%;
}

footer .col_footer {
	width: 15%;
    margin-left: 3%;
	float: left;
}

footer .col_signup {
	width: 28%;
	float: left;
}

footer a {
	text-decoration: none;
    color: white;
	display: block;
}

footer label {
    color: white;
	display: inline;
}

/*********************************************************
	CSS PAGE ACCUEIL
*********************************************************/
#slogan_accueil {
	text-align: center;
    color: rgb(223, 144, 174);
    font-weight: bold;
    font-size: 30px;
    font-family: Helvetica Neue;
}

#search_accueil h1 {
	margin-bottom: 0px;
}

#select_story {
	text-align: center;
    background-color: black;
    padding: 5px;
}

#select_story select {
	border: none;
    background-color: black;
    color: rgb(231, 199, 211);
    font-family: Helvetica Neue;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}

#story_img img {
	width: 100%;
	cursor: pointer;
}

#sign_up_event_block {
	margin-bottom: 25px;
}

#sign_up_event_block h1 {
	width: 30%;
    margin: auto;
    text-align: center;
    font-size: 28px;
    margin-bottom: 25px;
}

#sign_up_event_block h2 {
    width: 30%;
    margin: auto;
    text-align: center;
    font-size: 16px;
    font-style: italic;
}

.close_arrow {
	font-family: Helvetica Neue;
    float: right;
    font-size: 30px;
}

#signup_accueil {
	width: 65%;
    margin: auto;
    margin-top: 15px;
	margin-bottom: 20px;
}

#signup_accueil #text_signup_input {
	margin-left: 35%;
    width: 30%;
}

#submit_btn_accueil {
	width: 16px;
    height: 21px;
    position: relative;
    top: 6px;
}

#signup_conditions {
	width: 80%;
    margin: auto;
    font-style: italic;
    text-align: center;
    font-size: 13px;
	padding-bottom: 15px;
    border-bottom: 1px solid rgb(232,232,232);
}

#product_accueil_block {
	margin-bottom: 35px;
	float: left;
}

#carroussel_bag_home {
	width: 100%;
}

.product_home {
	width: 15%;
    margin-right: 5%;
	float: left;
}

.product_img {
	width: 100%;
}

.product_name {
	text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.product_price {
	color: rgb(210, 31, 90);
	font-weight: bold;
	text-align: center;
}